{ 
    menubar: false,
    statusbar: false,
    plugins: [
        "advlist anchor autolink lists link anchor ",
    ],
    resize: false,
    height: "250px",
    toolbar1: "formatselect | bold italic | bullist numlist | link", 
    convert_urls: false,
}