<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>$!{HTMLPAGE_FRIENDLY_NAME}</title>
    <meta name="description" content="$!{HTMLPAGE_DESCRIPTION}">
    <meta name="language" content="english">
    <meta property="og:title" content="$!{HTMLPAGE_FRIENDLY_NAME}">
    <meta property="og:url" content="$!{dotPageContent.canonicalUrl}">
    <meta property="og:image" content="https://dotcms.com/images/default.png">
    <link rel="canonical" href="$!{dotPageContent.canonicalUrl}">

    <!-- CSS -->
    <link rel="stylesheet" href="${dotTheme.path}css/main.dotsass?v=1">


    <!-- JS -->
    <script src="${dotTheme.path}js/jquery-3.2.1.min.js"></script>
    <script src="${dotTheme.path}js/bootstrap.min.js"></script>

    <link rel="shortcut icon" href="https://www.grandviewhealth.com/Uploads/public/documents/favicons/grandview-favicon.ico">

</head>