#set($primaryButtonTextColor = "$!{site.primaryButtonTextColor}")
#set($primaryColor = "$!{site.primaryColor}")

#set($secondaryTextColor = "$!{site.secondaryTextColor}")
#set($secondaryBgColor = "$!{site.secondaryBackgroundColor}") 